:root {
  --letter-spacing2: 2px;
  --letter-spacing3: 3px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
}
/*------------------------Section-1------------------------*/
.overdue-items-section {
  text-decoration: none;
}
.week-table-container-items {
  /* margin: 0px auto; */
  /* background-color: #6572f5; */
  display: grid;
  grid-template-columns: 8% 84% 8%;
  width: 75%;
  /* height: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px; */
  align-items: center;
  padding: 0px 30px;
}
.date-section {
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  border-radius: 70%;
  align-items: center;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: background-color;
}

.date-logo-item {
  color: white;
  padding: 0px 0px 1px 7px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.date-section:hover {
  background-color: rgba(255, 255, 255, 0.226);
}
.calender-section {
  transition: background 0.5s ease;
  width: 50px;
  height: 50px;
  margin: -8px 0px 0px 10px;
  border-radius: 10px;
}
.calender-section:hover {
  background: rgba(255, 255, 255, 0.226);
}

.calender-logo-item {
  color: white;
  margin-top: 7px;
  margin-left: 8px;
  cursor: pointer;
}

.organization-button {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: background-color 1s ease;
  background-color: #6572f5;
  border-radius: 5px;
}

.organization-button:hover {
  background-color: #4b57db;
}

.week-section {
  display: flex;
  justify-content: space-between;
}
.week-section .week-items {
  color: white;
  margin: 0px 15px;
  width: 70px;
  border-radius: 15px;
  text-align: center;
  transition: background 0.5s ease;
  cursor: pointer;
}
.week-items h1 {
  font-size: 18px;
  letter-spacing: var(--letter-spacing3);
  font-weight: lighter;
}
.week-items p {
  font-size: 13px;
  letter-spacing: var(--letter-spacing3);
}
.week-section .week-items:hover {
  background: rgba(255, 255, 255, 0.226);
}
/*-----------------Main Menu Section------------------*/

.main-menu-section {
  width: 50px;
  height: 100%;
  position: relative;
  padding: 0px 20px;
  background-color: #6572f5;
}

.home-logo-contents {
  width: 100%;
  margin-top: 100px;
}

.unordered-list-items {
  padding: 0px;
}

.home-settings {
  padding: 0px;
  position: absolute;
  bottom: 30px;
  width: 80px;
}

.list-item {
  color: white;
  display: flex;
  padding: 6px 0px;
  border-radius: 10px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.home-main-logo {
  width: 100%;
  display: block;
  list-style: none;
  text-decoration: none;
  margin: 0px 0px 50px 0px;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.list-item:hover {
  margin: 0px;
  padding: 6px 0px;
  border-radius: 10px;
  background-color: rgba(155, 162, 229, 0.7);
}

.list-item.active {
  padding: 6px 0px;
  border-radius: 10px;
  background-color: rgba(155, 162, 229, 0.7);
}

.home-main-logo-settings {
  width: 100%;
  display: block;
  list-style: none;
  text-decoration: none;
}

/*--------------------Home section--------------------*/
.home {
  position: relative;
  width: 100%;
  max-width: 70%;
  margin: 0px auto;
}
.home-section {
  position: absolute;
  top: 50px;
}
.home-section-1 {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.home-sec-item-1 {
  text-align: center;
  width: 180px;
  border-radius: 25px;
  height: 150px;
  cursor: pointer;
}
.home-sec-item-1 h1 {
  font-size: 68px;
  margin: 10px 0px 0px 0px;
  color: white;
  padding: 10px 0px 0px 0px;
}
.home-sec-item-1 p {
  font-size: 20px;
  color: white;
  margin: 10px 0px 0px 0px;
}
.home-section-2.active {
  margin-top: 40px;
}
.home-sec-2-item-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-sec-2-item-1 h1 {
  letter-spacing: var(--letter-spacing3);
}
.home-sec-viewall-sec h1 {
  font-size: 17px;
  font-weight: lighter;
  padding: 4px 8px;
  background: #6572f5;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.compilance-small-item-sec {
  display: flex;
  background: #eff4fa;
  padding: 4px 10px 0px 10px;
  align-items: center;
  border-radius: 5px;
  margin: 20px 0px;
  position: relative;
}
.comp-more-push {
  margin-left: auto;
}
.comp-text h1 {
  margin: 0px;
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: var(--letter-spacing3);
  margin-left: 10px;
}
.compilance-container-small {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comp-more-items-logo {
  cursor: pointer;
}
/*--------------------Compilance Drop Down Menu Section -------------------------------*/
.compilance-dropDown-section {
  position: absolute;
  z-index: 111;
  width: 300px;
  height: 190px;
  border: 1px solid #6572f5;
  border-radius: 20px;
  background: #6572f5;
}
.compilance-dropdown-main-sec-cont-1 {
  height: 78%;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #6572f5;
  background: white;
  border-radius: 20px;
  padding-top: 5px;
}
.compilance-dropdown-main-sec-cont-1 > p {
  margin: 0px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: var(--letter-spacing3);
  padding-left: 10px;
  color: #111975;
  text-decoration: underline;
}
.compilance-dropdown-pending-button {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.compilance-dropdown-pending-button > p {
  margin: 0px;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: var(--letter-spacing3);
}
.compilance-dropdown-pending-button > button {
  padding: 3px 15px;
  border-radius: 10px;
  border: none;
  background: rgb(255, 156, 25);
  color: white;
  font-size: 13px;
  letter-spacing: var(--letter-spacing3);
  cursor: default;
}
.compilance-dropdown-process-section {
  display: flex;
  justify-content: space-between;
}
.compilance-dropdown-process-section p {
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 10px;
  color: #0d1457;
}
.compilance-dropdown-high-cont {
  width: 30%;

  margin: 15px auto 0px auto;
}
.compilance-dropdown-high-cont > button {
  padding: 4px 30px;
  background-color: rgb(204, 37, 7);
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: var(--letter-spacing3);
  cursor: pointer;
}
.compilance-dropdown-main-sec-cont-2 div {
  display: flex;
}
.compilance-dropdown-main-sec-cont-2 h1 {
  font-size: 18px;
}
.compilance-dropdown-main-sec-cont-2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.compilance-dropdown-logo-cont-2 > p {
  margin-top: 10px;
  color: white;
}
.compilance-dropdown-logo-cont-2 > h1 {
  margin: 5px 0px 14px 10px;
  padding: 3px 10px 0px 10px;
  font-size: 15px;
  background: white;
  color: black;
  border-radius: 10px;
}

.compilance-dropdown-logo-cont-3 {
  width: 85px;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  color: white;
}

/*----------------Overdue Section------------------*/
.main-login-admin-weektable-section {
  display: flex;
  justify-content: space-between;
}
.overdue-weektable-section {
  max-width: 900px;
  margin: 0px 0px 0px -60px;
  padding: 0px;
}
.overdue-login-admin {
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-bottom-left-radius: 10px;
  box-shadow: 10px 5px 6px grey;
  height: 70px;
  padding: 10px 10px 0px 0px;
}
.overdue-arrowback-logo Button {
  margin: 20px;
  border-radius: 25px;
}

.practice-section {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

/*------------Section-2------------------*/
.section-2 {
  background: #f0f0f0;
  margin-top: 70px;
  padding: 0px 20px;
  height: 100%;
}

.donut {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.top-bar-left-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.top-bar-right-section {
  right: 0;
  display: flex;
  position: absolute;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
}
.admin-sec-info {
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-top: 5px;
  cursor: pointer !important;
}
.admin-name {
  margin: 0px;
  font-size: 13px;
  letter-spacing: var(--letter-spacing3);
  cursor: pointer;
}
.admin-sec-info p {
  margin: 5px 0px 0px 0px;
  font-size: 14px;
  display: flex;
}
.admin-sec-logo {
  margin-right: 20px;
}
.admin-images-item-1 {
  color: white;
  margin: 7px 5px 0px 3px;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}
.admin-images-item-1:hover {
  background: #6571f51c;
  background: rgba(255, 255, 255, 0.411);
}
.admin-drop-down {
  margin-top: -7px;
  padding-right: 15px;
}
.pie-chart-section {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

/*------------admin-drop-down-menu----------------*/
.admin-drop-down-menu {
  padding: 0px 10px;
}

.drop-down-sec-logo-cont2 {
  margin: 6px auto 0px 14px;
}

.drop-down-sec-logo-cont2 b {
  font-size: 15px;
  letter-spacing: var(--letter-spacing2);
  color: #151b55d7;
}

.drop-down-sec-logo-cont2 p {
  width: 200px;
  font-size: 15px;
  color: #4a4a4b;
  margin: 0px;
}

/*-------people-section-------*/
.people-tags-section,
.today-compilance-section {
  margin: 27px 0px 0px 0px;
}
.people-tags-items-1,
.today-tags-items-1 {
  display: flex;
  justify-content: space-between;
}
.people-tags-items-1 h1,
.today-tags-items-1 h1 {
  letter-spacing: var(--letter-spacing3);
  margin: 0px;
  font-size: 22px;
}
.people-tags-items-1 p,
.today-tags-items-1 p {
  margin: 0px;
  letter-spacing: var(--letter-spacing3);
  font-size: 15px;
  padding: 4px;
  height: 17px;
  border-radius: 3px;
  background: #6572f5;
  color: white;
  cursor: pointer;
}
.people-tags-items-2,
.today-tags-items-2 {
  display: flex;
  margin: 30px 0px 0px 0px;
  position: relative;
}
.people-tags-image-1 {
  background: rgba(0, 0, 0, 0.699);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.people-img-2 {
  background: rgb(122, 120, 120);
  position: absolute;
  left: 20px;
  z-index: 1;
}
.people-img-3 {
  background: rgb(196, 193, 193);
  position: absolute;
  left: 45px;
  z-index: 2;
}
.people-img-3 p {
  color: rgb(65, 61, 61);
  letter-spacing: var(--letter-spacing3);
  padding-left: 12px;
  font-weight: 600;
}
.today-tags-items-2 {
  display: block;
}
.filter-text-item h1 {
  margin: 5px 0px 0px 0px;
  font-size: 22px;
  color: #6572f5;
}
.filter-overdue-section {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0px auto;
}
.overdue-filter-component {
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.filter-search-section Button {
  height: 55px;
  border: 2px solid #6572f5;
}

/*------------Task/Overdue Table Section--------------*/
.task-filter-main {
  display: flex;
  /* flex-direction: row;
  align-items: flex-start; */
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #f8f9fa; /* Light gray background */
}

.filter-main {
  display: flex;
  align-items: center;
}

.search-main {
  display: flex;
  align-items: center;
}

.filter-main p,
.search-main p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  margin-right: 20px;
}

.search-main .MuiTextField-root {
  width: 100%;
  margin-top: 5px;
}

.search-main .MuiOutlinedInput-root {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.filter-main button {
  margin: 5px 10px 5px 0;
  padding: 0px 8px;
  font-size: 12px;
  color: #fff;
  background-color: #6571f5; /* Primary color */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.filter-main button:hover {
  background-color: #4053d5; /* Darker shade on hover */
}

.filter-main .MuiButton-outlined {
  background-color: transparent;
  border: 2px solid #6571f5;
  color: #6571f5;
}

.filter-main .MuiButton-outlined:hover {
  background-color: #6571f5;
  color: #fff;
}

.overdue-table-section {
  margin-top: 50px;
}
.overdue-table-cont {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overdue-table-cont th,
.overdue-table-cont td {
  padding: 12px 15px 12px 50px;
  text-align: left;
  font-size: 14px;
}

.overdue-table-cont th {
  background-color: #6571f5da;
  color: #fff;
  font-weight: 600;
}

.overdue-table-cont td {
  border-bottom: 1px solid #dee2e6;
}

.overdue-table-cont tr:last-child td {
  border-bottom: none;
}

.overdue-table-cont tr:hover {
  background-color: #f1f3f5;
}

.MuiButton-root {
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* .MuiButton-root:hover {
  background-color: #4b5ac9;
  color: #fff;
}

.MuiButton-outlined:hover {
  border-color: #4b5ac9;
  color: #4b5ac9;
}

.MuiButton-contained:hover {
  background-color: #4b5ac9;
} */

/* Circular Progress Loader */
.MuiCircularProgress-root {
  color: #6571f5da;
}

.task-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
}

.task-heading h4 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.task-heading button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-heading button:hover {
  background-color: #357abd;
}

/* Responsive styling */
@media (max-width: 768px) {
  .task-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-heading h4 {
    margin-bottom: 10px;
  }

  .task-heading button {
    width: 100%;
  }
}

.recent-items {
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.recent-items:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.recent-items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-items__title {
  display: flex;
  align-items: center;
}

.recent-items__icon {
  margin-right: 8px;
}

.recent-items__more-button {
  color: #757575;
}

.recent-items__popover {
  border-radius: 12px;
  overflow: hidden;
}

.recent-items__popover-content {
  width: 320px;
}

.recent-items__popover-header {
  background-color: #f5f5f5;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recent-items__status {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.recent-items__progress {
  padding: 16px;
}

.recent-items__progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.recent-items__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.recent-items__priority {
  background-color: #ff9800;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.recent-items__avatar-group {
  justify-content: flex-end;
}

.recent-items__actions {
  background-color: #2196f3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.recent-items__actions .MuiIconButton-root {
  color: white;
}

/*---------------------Community Section---------------------------------------*/

.community-main-message-section {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  left: 120px;
  width: 60%;
  height: 60px;
  border-radius: 5px;
  color: white;
  background: #6572f5;
  padding: 0px 20px;
  align-items: center;
}
.community-image-message {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}
.community-text-input {
  width: 70%;
  height: 60%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  outline: none;
  padding: 0px 20px;
  font-size: 17px;
  letter-spacing: var(--letter-spacing3);

  margin-right: auto;
}
.community-text-message-logo {
  display: flex;
  width: 181px;
  height: 61%;
  background: white;
  color: rgba(128, 128, 128, 0.856);
  justify-content: space-between;
  padding-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
}
.community-text-message-logo > div {
  padding-top: 2px;
  margin-right: auto;
  cursor: pointer;
}
.com-list-items-logo-message {
  padding: 0px 3px;
  cursor: pointer;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/*------------------------ People Section ------------------------*/

.page-header-button {
  background-color: #6571f5da;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.page-header-button:hover {
  background-color: #525eeb;
  border: 2px solid #ffffff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.page-header-button:active {
  background-color: #4b57c6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.people-heading {
  width: 100%;
  margin: 0px 10px 40px 0px;
  align-items: center;
  text-align: center;
}

.page-header {
  display: flex;
  padding: 0px 30px;
  align-items: center;
  background-color: #4543eee5;
  justify-content: space-between;
}

.page-header h1 {
  color: white;
}

.people-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.profile-box .delete_icon_button {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-box:hover .delete_icon_button {
  opacity: 1;
}

.profile-box {
  width: 250px;
  display: flex;
  height: 220px;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  background-color: #ffffff; /* Light background color */
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profile-box:hover {
  background-color: #e0e0e05d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}

.profile-box .MuiAvatar-root {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.profile-box div {
  text-align: center;
}

.profile-box p {
  margin: 5px 0;
  color: #333;
  font-weight: 500;
}

.profile-box p:last-child {
  color: #777;
  font-size: 14px;
}

.profile-image > div {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
}

.profile-image > div > img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 2px solid #faf3f3;
}

.profile-header-section {
  height: 180px;
  position: relative;
  padding: 15px 0px 5px 0px;
  background-color: #8f8d8da4;
}

.profile-edit-options {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
  padding-bottom: 10px;
}

.profile-edit-options button {
  padding: 2px 30px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  letter-spacing: var(--letter-spacing2);
}

.profile-main-section > p {
  font-size: 23px;
  letter-spacing: var(--letter-spacing3);
  text-align: center;
}

.profile-details-section {
  padding: 10px 100px;
  margin-bottom: 20px;
}

.profile-details-item {
  width: 200px;
}

.profile-details-item > p {
  text-align: center;
}

.profile-details-item > p:first-child {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--letter-spacing3);
}

.profile-details-item > p:nth-child(2) {
  background-color: rgba(196, 188, 188, 0.322);
  border-radius: 5px;
  padding: 10px 0px;
}

@media (max-width: 768px) {
  .task-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .people-main {
    flex-direction: column;
    align-items: center;
  }

  .profile-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .task-heading {
    font-size: 1.2rem;
  }

  .people-main {
    padding: 10px;
  }

  .profile-box {
    padding: 10px;
  }
}
